// 颜色
$mainColor:#f26130;
$baseColor: #333;
$grayColor: #666;
$lightGrayColor: #999;
$lightColor: #fff;
$borderColor: #cdd4dd;
$backgroundColor: #f0f2f5;
$dangerColor: #df453b;
$warnColor: #f63;
$successColor: #0f0;
$infoColor: #00f;

// 字体大小
$baseFont: 16px;
$bigFont: 20px;





// 层叠优先级
$baseIndex: 10;
$upperIndex: 20;
$highIndex: 30;
$superIndex: 40;
$maxIndex: 10000;
